/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.font-libre { font-family: 'Libre Baskerville'; }
.font-jose { font-family: 'Josefin Sans'; }

.fadeError { animation: fade 1s linear 4s 1 forwards; }

@keyframes fade {
  from { opacity: 100; }
  to   { opacity: 0;   }
}
